body {
 /* 首先将body定义为一个网格容器 */
 display: grid;
   
 /* 然后定义列数，并设置他们的尺寸 */
 /* 小心，列与列之间的间距也包括在实际列中 */
 /* 1、这个意思我们有三列: 
  * 第一列宽度为200px
  * 和第二列有一个1%的margin 
  * 第三列将占据剩余空间
  */
 grid-columns: 200px 1% 1fr; /* 1 */
   
 /* 现在我们来定义行数和他们的尺寸  */
 /* 2. 这里我们需要创建5行: 
  * 第一行的尺寸将根据他们内容的尺寸来定义
  * 与第二有一个margin
  * 第三行尺寸也是将根据他们内容的尺寸来定义
  * 第四行也有一个margin
  * 第五行尺寸也是将根据他们内容的尺寸来定义
  */
 grid-rows: auto 15px auto 15px auto; /* 2 */
   
 /* body元素变成 3*5 网格. */
}
 
/* 页眉和页脚都将全宽,所以我们必须让他们占据了3个列*/
.header, 
.footer {
  grid-column-span: 3;
}

/* 让我们把标题行定义在最前面:  定义为1 */
.header {
  grid-row: 1;
}
 
/* 相同的将页脚定义为第五行 (记得margin算作cols/行 */
.footer {
  grid-row: 5;
}
 
.sidebar {
  /* 侧边栏占据第一列，宽度为200px */
  grid-column: 1;
  /* 位于第三行 (前面有一个标题和间距) */
  grid-row: 3;
}
 
.main {
  /* 主要内容将在第三列和第三行 */
 grid-column: 3;
 grid-row: 3;
}
