/*--------------------安全天数看板样式--------------------------*/
.SafetyTitle{
                color:#990066; 
                font-size: 60px; 
                text-align: center; 
                width:100%;
                padding-top:2%;
                /*font-weight: bold;*/ 
                /*margin: 5% 0% 0% 0%;*/
            }

     /*车间样式*/
.WorkerShop{               
            width:33%;
            float:left;
            /*min-width:29em;*/
            /*width:500px;*/
            /*margin:0 auto;*/
}

     /*车间名字*/
.WorkerShopName{     
    font-family: 微软雅黑;
    font-size: 3em;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 0em;
    background-color: #8C8989
}

 /*安全天数*/
.WorkerShopDays{          
    font-family: 微软雅黑;
    font-size: 10em;
    margin-top: 0em;
    margin-bottom: 0em;
    text-align: center;
    background-color: #AE233A;
    color: white;
    word-wrap:break-word; /*强制换行*/
}

  /*安全起始日*/
.WorkerShopDate{          
    font-family: 微软雅黑;
    font-size: 2em;
    color: #FFFFFF;
    margin-top: 0em;
    text-align: center;
    background-color: #8C8989;
}

/*文字信息*/
.WordInfo{          
    font-family: 微软雅黑;
    font-size:2.5em; 
    text-align:center; 
    color:#333333; 
    font-weight:bold;
    width:100%;
    float: left;
}