<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <connectionStrings>
    <add name="MESDEVEntitiesTEST" connectionString="Data Source=192.168.27.64;Initial Catalog=MESDEV;Persist Security Info=True;User ID=mesuser;Password=e^G$mg;" providerName="System.Data.SqlClient"/>
    <add name="GEG_DBCONN" connectionString="Data Source=192.168.7.123;Initial Catalog=MESDB;Persist Security Info=True;User ID=mesuser;Password=e^G$mg;" providerName="System.Data.SqlClient"/>
    <add name="YMG_DBCONN" connectionString="Data Source=192.168.7.112;Initial Catalog=MESDB;Persist Security Info=True;User ID=mesuser;Password=e^G$mg;" providerName="System.Data.SqlClient"/>
    <add name="GLG_DBCONN" connectionString="Data Source=192.168.7.112;Initial Catalog=MESDB;Persist Security Info=True;User ID=mesuser;Password=e^G$mg;" providerName="System.Data.SqlClient"/>
    <add name="NBO_DBCONN" connectionString="Data Source=192.168.7.112;Initial Catalog=MESDB;Persist Security Info=True;User ID=mesuser;Password=e^G$mg;" providerName="System.Data.SqlClient"/>
    <add name="CEG_DBCONN" connectionString="Data Source=192.168.7.112;Initial Catalog=MESDB;Persist Security Info=True;User ID=mesuser;Password=e^G$mg;" providerName="System.Data.SqlClient"/>
    <add name="CEK_DBCONN" connectionString="Data Source=192.168.7.112;Initial Catalog=MESDB;Persist Security Info=True;User ID=mesuser;Password=e^G$mg;" providerName="System.Data.SqlClient"/>
    <add name="EGM_DBCONN" connectionString="Data Source=192.168.4.38;Initial Catalog=MESDB;Persist Security Info=True;User ID=mesuser;Password=me$4S8;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <!--ESB设置-->
    <add key="Last_Modify_User_ID1" value="TNS_SJO_ESB"/>
    <!--    <add key="ESB_Receive_Server" value="tcp://eellnx32.eel1.esquel.com:7001" />
        <add key="ESB_UserID" value="admin" />
        <add key="ESB_UserPWD" value="" />-->
    <add key="ESB_Receive_Server1" value="tcp://getlnx09.gfg1.esquel.com:7002"/>
    <add key="ESB_UserID1" value="grmems"/>
    <add key="ESB_UserPWD1" value="grmems0309"/>
    <add key="ESB_Receive_SJO_destination1" value="cn.grm.sts.barcode"/>
    <!--    <add key="ESB_Send_Server" value="http://eellnx32.eel1.esquel.com" />-->
    <add key="ESB_Send_Server1" value="http://esb.gfg1.esquel.com:6111"/>
    <add key="ESB_Send_Barcode_destination1" value="grm.sts.goSample"/>
    <add key="ClientSettingsProvider.ServiceUri1" value=""/>
    
    
    <!--cn.fas.hris.getEmployeeCheckTime-->
    <!--<add key="ESB_Server" value="eellnx32.eel1.esquel.com:7001"/> -->
    <!--<add key="ESB_Receive_Server" value="getlnx09.gfg1.esquel.com:7002"/>-->
    <!--DEV server不要账号密码 /ESB/RequestReply-->
    <add key="ESB_UserID" value=""/>
    <add key="ESB_UserPWD" value=""/>
    <!--<add key="ESB_Send_Server" value="http://eellnx32.eel1.esquel.com"/>-->
    <add key="ESB_Send_Server" value="http://esb.gfg1.esquel.com:6111"/>
    <add key="ESB_HRSend_queue" value="cn.fas.hris.getEmployeeCheckTime"/>
    
    <!--EGM-->
    <!--<add key="ESB_Send_Server" value="http://esb.eel1.esquel.com:6111/ESB/RequestReply"/>
    <add key="ESB_HRSend_queue" value="egm.fas.hris.getEmployeeCheckTime"/>-->

    <!--add key="KPI_ESB_WebServerUrl" value="http://192.168.7.156:81/HRITESBService.asmx?op=GetEmployeeCheckTime"/>-->
  </appSettings>
  <!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
  <system.web>
    <authentication mode="None"/>
    <compilation debug="true" targetFramework="4.5.1"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication"/>
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <!--设置超时时间-->
  <system.transactions>
    <defaultSettings timeout="00:15:00" />
  </system.transactions>
  <Project>

    <Target Name="AfterBuild">
    <TransformXml Condition=" '$(Environment)' != '' " Source="Web.config" Transform="Web.$(Environment).config" Destination="Web.config" />
    <PropertyGroup>
      <WebProjectOutputDir>$(SolutionDir)..\dist</WebProjectOutputDir>
    </PropertyGroup>
    <RemoveDir Directories="$(WebProjectOutputDir)" ContinueOnError="true" />
    <MSBuild Projects="$(ProjectPath)" Targets="ResolveReferences;_CopyWebApplication" Properties="WebProjectOutputDir=$(WebProjectOutputDir);OutDir=$(ProjectDir)bin\" />
  </Target>
  <PropertyGroup>
    <PreBuildEvent>
       rmdir /s /q "..\..\..\html\temp"
    </PreBuildEvent>
  </PropertyGroup>
</Project>  

</configuration>