<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="MESDBEntities" connectionString="metadata=res://*/DASHBOARD.DASHBOARD_SHOW.csdl|res://*/DASHBOARD.DASHBOARD_SHOW.ssdl|res://*/DASHBOARD.DASHBOARD_SHOW.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.27.64;initial catalog=MESDev;user id=mesuser;password=e^G$mg;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MESDEVEntities" connectionString="metadata=res://*/DASHBOARD.Models.Model1.csdl|res://*/DASHBOARD.Models.Model1.ssdl|res://*/DASHBOARD.Models.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.7.123;initial catalog=MESDB;persist security info=True;user id=mesuser;password=e^G$mg;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>