<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />

    <webServices>
      <protocols>
        <add name="HttpPost"/>
        <add name="HttpGet"/>
      </protocols>
    </webServices>
    
  </system.web>

  <connectionStrings>
    <add name="PcsConnection" connectionString="Server=192.168.7.123;Database=PettyCash;uid=pettycashuser;pwd=EQ6HarN" providerName="System.Data.SqlClient" />
    <add name="DASHBOARDConnection" connectionString="Server=192.168.27.64;Database=MESDEV;uid=mesuser;pwd=e^G$mg" providerName="System.Data.SqlClient" />
    <!-->add name="SAMConnection" connectionString="Server=mistest2005;Database=SAM;UID=sam;PWD=samuser;Integrated Security=False;Persist Security Info=False" providerName="System.Data.SqlClient" /-->
  </connectionStrings>
  
</configuration>